<!-- First fold CARAOUSEL Section starting-->
<section style="box-shadow: rgba(8, 8, 8, 0.43) 0px 0px 20px 3px;position: relative;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators carousel-indicators--round">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="video-height" style="height: calc(100vh - 100px);overflow: hidden;">
                    <video loop="" muted="" autoplay="" poster="images/psr-poster.jpg" class="fullscreen-bg__video" style="height: 100%;object-fit: cover;width: 100%;">
                        <source src="images/PSR LOGO VIDEO.mp4" type="video/mp4" width="100%">
                        <source src="images/PSR LOGO VIDEO.webm" type="video/webm" width="100%">
                    </video>
                    <div class="mob-cat-heading" style="position: absolute;bottom: 42px;text-align: center;width: 100%;font-size: 2rem;font-weight: 100;">
                        <div>A World Class</div>
                        <div class="font-pink">Cataract &amp; Lasik Surgical Centre</div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-cataract-wall" style="height: calc(100vh - 100px);overflow: hidden;background: none;">
                    <div class="col-md-6 col-sm-12 hidden-md-down" style="height: 100%;z-index: 3;box-shadow: #313131 1px 1px 20px 3px;background-color: #2d0d72;float: left;position: absolute;"></div>
                    <div class="col-md-6 col-sm-12 hidden-md-down" style="height: 100%;float: left;position: absolute;right: 0px;">
                        <div style="position: absolute;right: 0px;height: 100%;width: 100%;">
                            <div class="bg-pink" style="width: 100%; height: 100%; ">
                                <div class="text-center cataract-top-msg" style="padding: 30px 10px; letter-spacing: 1px; "> <span class="text-center" style="position: relative; padding: 0px; "> <span class="fa fa-quote-left" style="position: absolute; left: -40px; top: -20px; "> </span>Cataract is interfering with the quality
                                    <br>of my life. I want to enjoy my golden years!<span class="fa fa-quote-right" style="position: absolute; right: -40px; bottom: -20px; "> </span></span>
                                </div>
                                <div style="width: 100%;height: 100%;background-image: url('images/cataract_banner_01_min.png');background-size: contain;background-repeat: no-repeat;background-position: bottom right;"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mob-cat-heading" style="padding-top: 187px;z-index: 100;position: relative;">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="man" style="z-index: 1;"></div>
                                </div>
                                <div class="col-md-8" style="padding-bottom: 52px;z-index: 1;">
                                    <div class="m-content-block animation-block">
                                        <div class="m-top-block homepage-catarct-text-size">
                                            <h1 class="m-heading p-b-25 m-line-animation" style="padding-bottom:0px;">
                                                    <span class="m-heading-block" style=" font-size: 1.5rem; font-weight: 100; ">ADVANCED
                                                    </span>
                                                    <div style="display: inline-block;">  <span class="m-heading-block">CATARACT</span> <span class="m-heading-block text-right" style="font-size: 1.5rem;">SURGERY </span>
                                                        <div style="margin-top:  20px;" class="c-init text-right"> 
                                                            <div class="wid-50"> 
                                                                <div class="btn-1-div">
                                                                    <button type="button" ui-sref="cataract.about" class="btn btn-md btn-1">Know more</button> 
                                                                </div> 
                                                            </div> 
                                                        </div> 
                                                    </div>
                                                </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="display: none;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="m-content-block animation-block">
                                        <div class="m-line-animation" style="text-transform: uppercase;text-align: left;padding-top: 31px;font-size: .9rem;/* font-family: 'Museosans'; */font-weight: 200;font-size: 13px;letter-spacing: 1px;">
                                            <div class="m-heading-block" style="padding-left: 30px;">Cataract is interfering</div>
                                            <div class="m-heading-block" style="padding-left: 20px;"> too much with my quality</div>
                                            <div class="m-heading-block" style="padding-left: 10px;"> of life. I want to enjoy</div>
                                            <div class="m-heading-block"> my golden years!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row mob-cat-heading" style="padding-top: 187px;z-index: 100;position: absolute;">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-8" style="padding-bottom: 52px;z-index: 1;">
                                <div class="m-content-block animation-block">
                                    <div class="m-top-block homepage-refractive-text-size">
                                        <h1 class="m-heading p-b-25 m-line-animation" style="padding-bottom:0px;">
                                                    <span class="m-heading-block" style=" font-size: 1.5rem; font-weight: 100; ">REFRACTIVE
                                                    </span>
                                                    <div style="display: inline-block;">  <span class="m-heading-block">SURGERIES</span> 
                                                        <div style="margin-top:  20px;" class="c-init text-right"> 
                                                            <div class="wid-50"> 
                                                                <div class="btn-1-div">
                                                                    <button type="button" ui-sref="refractive.lasik2.types" class="btn btn-md btn-1">Know more</button> 
                                                                </div> 
                                                            </div> 
                                                        </div> 
                                                    </div>
                                            </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-cataract-wall" style="height: calc(100vh - 100px);overflow: hidden;background: url('images/beautiful-world-min.jpg') center/cover no-repeat;z-index: 13;position: relative;">
                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-cataract-wall" style="height: calc(100vh - 100px);overflow: hidden;background: none;z-index: 13;position: relative;">
                    <div class="col-md-6 col-sm-12 hidden-md-down" style="height: 100%;z-index: 3;box-shadow: #313131 1px 1px 20px 3px;background-color: #2d0d72;float: left;position: absolute;"></div>
                    <div class="col-md-6 col-sm-12" style="height: 100%;float: left;position: absolute;right: 0px;">
                        <div style="position: absolute;right: 0px;height: 100%;width: 100%;">
                            <div class="text-center cataract-top-msg" style="padding: 17px 10px;letter-spacing: 1px;position: absolute;left: 0px;right: 0px;top: 10px;"> <span class="text-center" style="position: relative; padding: 0px; "> <span class="fa fa-quote-left" style="position: absolute; left: -40px; top: -20px; "> </span>Imagine life without glasses and lenses <br>ADVANCED LASIK SURGERY<span class="fa fa-quote-right" style="position: absolute; right: -40px; bottom: -20px; "> </span></span>
                              </div>
                            <div style="width: 100%;height: 100%;background: url('images/lasik/lasik-illustration2.png') center/cover no-repeat;">
                            </div>
                        </div>
                    </div>
                    <div class="row lasik-top-row" style="padding-top: 187px;z-index: 100;position: relative;">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 hidden-md-down">
                                    <div class="man" style="z-index: 1;"></div>
                                </div>
                                <div class="col-md-8 hidden-md-down" style="padding-bottom: 52px;z-index: 1;">
                                    <div style="position: absolute;top: -137px;top: -237px;position: absolute;top: -200px;">
                                        <img src="images/lasik/pink_bubble-min.png" width="200px">
                                    </div>
                                    <div class="m-content-block animation-block">
                                        <div class="m-top-block homepage-lasik-text-size">
                                            <h1 class="m-heading p-b-25 m-line-animation" style="padding-bottom:0px;">
                                                    <span class="m-heading-block" style=" font-size: 1.5rem; font-weight: 100; ">ADVANCED
                                                    </span>
                                                    <div style="display: inline-block;">
                                                    <span class="m-heading-block">LASIK</span>
                                                    <span class="m-heading-block text-right" style="font-size: 1.5rem;">SURGERY
                                                    </span>
                                                    <div style="font-size: 1rem;margin-left: 35px;" class="c-init text-right">
                                                                <div class="btn-1-div"> 
                                                                    <button type="button" ui-sref="lasik.types" class="btn btn-md btn-1">Know more</button> 
                                                                </div> 
                                                        </div>
                                                    </div>
                                                </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="bg-cataract-wall" style="height: calc(100vh - 100px);overflow: hidden;background: none;">
                    <video loop="" muted="" autoplay="" poster="images/vision test.jpg" class="fullscreen-bg__video" style="height: 100%;object-fit: cover;width: 100%;">
                        <source src="images/vision test1.mp4" type="video/mp4" width="100%">
                        <source src="images/vision test1.webm" type="video/webm" width="100%">
                    </video>
                    <div class="mob-cat-heading" style="position: absolute;bottom: 42px;text-align: center;width: 100%;font-size: 2rem;font-weight: 100;">
                        <div>SEE THE BRILLIANCE IN EVERYDAY LIFE</div>
                        <div>
                            <div class="text-center">
                                <div class="c-init" style="width: 200px; display: inline-block; ">
                                    <div class="btn-1-div">
                                        <button type="button" ui-sref="eyecareservices" class="btn btn-md btn-1">Eye Care Services</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="m-carousel-control-previous" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="m-carousel-control-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
    </div>
</section>
<!-- First fold CAROUSEL SECTIOn ending-->
<!-- Third fold starting-->
<section class="m-mousemove" style="background-color: #2e0d72;position:relative;background-image: url(images/circle-01-min.png);background-size: cover;background-attachment: fixed;background-position: center;">
    <div class="bg-dots">
        <div class="container" style="position: relative;z-index: 1;">
            <div class="m-welcome text-center" style="padding-top: 45px;">
                <h1 class="m-font-m2 font-pink" style="font-size: 7rem;font-weight: 900;text-shadow: rgba(44, 12, 109, 0.45) 4px 5px 20px;">Welcome</h1>
                <p style="font-size: 1.25rem;padding-top: 40px;" class="text-center font-200">
                    Welcome to the world class CATARACT and LASIK Surgical Centre designed especially for your advanced treatment. With over 65 years of expertise, a dedicated team and modern medical equipments, we have always provided our patients a world-class service.
                </p>
                <p style="font-size: 1.25rem;" class="text-center font-200">
                    Founded by Padma Bhushan Dr. Perugu Siva Reddy followed by his son-in-law, Dr. H Prabhakar Reddy and grandson Dr. H Siva Mohan Reddy, this hospital holds a unique legacy of three generations that is focused towards delivering the best possible eye care treatment to all its patients in Hyderabad.
                </p>
            </div>
            <div class="m-mission text-center" style="padding-top: 70px;padding-bottom: 50px;">
                <div style="position: relative;">
                    <img src="images/mission-min.png" alt="" width="250px">
                    <p style="position: absolute;font-weight: 600;left: 50%;transform: translate(-50%,0%);bottom: 0;font-size: 1.3rem;" class="m-font-m2">To provide right to sight for
                        <br>one and all with state of art
                        <br> technology made
                        <br> affordable.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-cataract-section2 m-mousemove">
    <div class="bg-dots" style="overflow-x: hidden;">
        <div class="container">
            <div class="row" style="padding-top: 60px;padding-bottom: 80px;">
                <div class="col-md-10 offset-md-1">
                    <div class="homepage-content-block">
                        <div class="content-block-mini-heading font-pink">The Finest in Hyderabad</div>
                        <div class="content-block-heading font-blue m-font-m2">Specializing & Excelling in
                            <br> Corrective Eye Care</div>
                        <div class="content-block-content font-blue">Utilizing state-of-the-art technology, the DR. P SIVA REDDY EYE HOSPITAL is Hyderabad's leader in vision correction surgery.</div>
                        <!-- <div class="content-block-cta text-left"> -->
                        <!--  <div class="c-init" style="width: 200px; display: inline-block; ">
                                <div class="btn-1-div">
                                    <button type="button" ui-sref="visiontest" class="btn btn-md btn-1">Discover More</button>
                                </div>
                            </div> -->
                        <!-- <a href="#" class="btn btn-md btn-cat-2" style="padding: 8px 25px;box-shadow: rgba(17, 17, 17, 0.51) 1px 3px 11px 0px;">Discover More</a> -->
                        <!-- </div> -->
                    </div>
                    <div class="homepage-content-videos">
                        <div id="videoCarousel2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators carousel-indicators--round">
                                <li data-target="#videoCarousel2" data-slide-to="0" class="active"></li>
                                <li data-target="#videoCarousel2" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <video loop="" muted="" autoplay="" class="fullscreen-bg__video" style="width: 100%">
                                        <source src="images/Advanced_tech.webm" type="video/webm" width="100%">
                                        <source src="images/Advanced_tech.mp4" type="video/mp4" width="100%">
                                    </video>
                                </div>
                                <div class="carousel-item">
                                    <span ng-class="{'icon-volume-off': !volume, 'icon-volume-2': volume}" class="icon-volume-off" ng-click="muteToggler();" style="position: absolute; right: 10px; top: 10px; font-size: 1.5rem;z-index: 13;"></span> 
                                    <video id="visianicl_video" loop="" muted poster="images/visianicl/what_is_visian_icl.png" class="fullscreen-bg__video" style="width: 100%">
                                        <source src="images/visianicl/what_is_visian_icl.webm" type="video/webm" width="100%">
                                        <source src="images/visianicl/what_is_visian_icl.mp4" type="video/mp4" width="100%">
                                    </video>
                                </div>
                            </div>
                            <a class="prev-btn" href="#videoCarousel2" role="button" data-slide="prev" style="">
                            <span class="arrowspan" aria-hidden="true" style=""> <img src="images/arrow3.svg" width="10px"> </span>
                            <span class="sr-only">Previous</span>
                          </a>
                            <a class="next-btn" href="#videoCarousel2" role="button" data-slide="next">
                            <span class="arrowspan" aria-hidden="true" style="">
                                <img src="images/arrow3.svg" width="10px"> </span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="years65" style="padding-bottom: 100px;padding-top: 70px;">
                <div class="col-md-5 offset-md-1">
                    <div class="homepage-content-block" style="padding-top: 0px;">
                        <div class="content-block-mini-heading font-pink">Over 65</div>
                        <div class="content-block-heading m-font-m2 font-pink text-upper">Years of Expertise</div>
                        <div class="content-block-content font-blue" style="height: 252px;{{bioMore ? 'overflow-y: scroll;' : ''}}">
                            One man’s pain has a lot of power, power to turn it into a blessing for many. It is a quality of great men to see beyond one’s own personal gain and go ahead on a path of greater good. On 12th September, 1920, our founding father, Dr. P Siva Reddy was born. At the tender age of 9, he witnessed the excruciating experience that blindness was, with his mother fighting glaucoma; he chose to pursue his career in medicine, eventually ophthalmology.
                            <p ng-show="bioMore">
                                Of all the love in the world, a mother’s love is the strongest, and with her blessing from the beyond Dr. P Siva Reddy created his legacy of healing. Today he regarded with great respect for his contributions. Dr P Siva Reddy’s story is that of sheer dedication, hard work and sincerity toward his vision for a world that is cured of treatable blindness. He was honoured with Padmabushan in 1977, Padmashri in 1971, and B.C Roy Awards in 1981 and again in 1987. Dr. Reddy was appointed as Honorary Surgeon to the President of India, Sri V.V.Giri, in which capacity he served the chair for 25 years. Padmabushan Dr Perugu Siva Reddy Regional Eye Hospital, Kurnool, was named in his honour by the Government of Andhra Pradesh, in recognition of his services.
                            </p>
                            <p ng-show="bioMore">
                                After his retirement from formal duties, he continued to follow his religion of serving people and instituted Dr. P Siva Reddy Hospital in Hyderabad with a single consultation room. After 3 generations his legacy has evolved into a State-Of-Art Advanced Surgical and Laser Eye Care Centre. Today the institution is in the able hands of Dr. P Siva Reddy’s grandson, Dr. H Siva Mohan Reddy. Under the wise counsel of his father Dr. H Prabhakar Reddy and inspiration from his grandfather’s life of service and dedication, Dr. H Siva Mohan Reddy took it upon himself to upgrade the medical facilities at PSR Hospital to the latest technology and best of amenities.
                            </p>
                            <p ng-show="bioMore">
                                Dr. P Siva Reddy’s legacy lies in the memories of his patients as a doctor who truly cared; this legacy has been nurtured over 3 generations bringing forth a sincere health care facility that PSR Eye Hospital is today.
                            </p>
                        </div>
                        <div class="content-block-cta text-left">
                            <div class="c-init" style="width: 200px; display: inline-block; ">
                                <div class="btn-1-div">
                                    <button ng-click="bioMore=!bioMore;" type="button" class="btn btn-md btn-1">{{ !bioMore ? "Read More" : "Read Less"}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="position: relative;">
                    <div class="hompage-special-items" style="position: absolute;left: 0px;right: -100px;">
                        <div class="swiper-container" id='special-swiper'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" ng-repeat="swiper in swipers" my-swiper-repeat>
                                    <img ng-src="{{swiper.src}}" width="100%" class="d-block img-fluid" alt="">
                                    <swiper-bottom sharing-function="setSharingInfo(data)" swiper-data="swiper" content="swiper.text"></swiper-bottom>
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button> -->
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="homepage-content-block">
                        <div class="content-block-heading m-font-m2 text-center" style="padding-bottom: 40px;">Our Services</div>
                        <div class="row">
                            <psr-services ng-repeat="service in allPsrServices" psr-service-data="service"></psr-services>
                        </div>
                        <!-- <div class="content-block-content font-white text-center">
                            We have refractive surgery option for those who may not qualify for LASIK eye surgery.
                            <div class="content-block-mini-heading font-pink m-font-m2 text-upper" style="padding: 15px;">View Options</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-purple">
    <div class="team-collage" style="height: 800px; background-image: url('images/team3-min.jpg');background-size: cover; background-attachment: fixed;">
    </div>
</section>
<section class="pink-section" style="margin-top: -400px; overflow: hidden; position: relative;">
    <img src="images/homepage-pink-background.png" width="100%" style="opacity: .9;-webkit-filter: drop-shadow(189px -27px 76px #fff);filter: drop-shadow(189px -27px 76px #fff);position: absolute;z-index: 0;">
    <div class="topnotch-content" style="position: relative;z-index: 1;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 p-b-20">
                    <div class="homepage-content-block" style="padding-top: 60px;">
                        <div class="content-block-heading m-font-m2 text-left" style="padding-bottom: 40px;">Top-Notch Eye Care
                            <br>Specialists and Caring Staff</div>
                        <div class="content-block-content font-white text-left">
                            Our Board Certified Ophthalmologists, Optometrists, technicians, and
                            <br>staff are high experienced with a reputation to prove it.
                        </div>
                    </div>
                    <div class="homepage-content-block" style="padding-top: 60px;">
                        <div class="content-block-heading m-font-m2 text-center">...20/20 has a new meaning in my life!</div>
                        <div class="content-block-content font-white text-center">
                            As an IT professioanl, I have to sit in front of my system for 10-12 hours a day. My eye
                            <br> sight kept deteriorating to -7 Dioptre and had to carry the burden of thick glasses.
                            <br> High Definition LASIK has made such a difference... to be able to see without having to depend
                            <br> on glasses or contacts has made life so much easier. Thanks to Dr. Siva Mohan
                            <br> and his crew at <b>Dr. P Siva Reddy Hospital</b>,
                            <br> 20/20 has a new meaning in my life!
                        </div>
                        <div id='reviews' class="content-block-mini-heading text-center m-font-m2" style="text-transform: inherit;font-size: 1.4em;">Checkout what people say about us</div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <google-reviews></google-reviews>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="color: initial;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Share Post<i class="fa fa-share-alt"></i></h4>
                <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modal-body">
                <div id="social-share" style="text-align: center;">
                    <div class="c-container" style="margin-top: 10px;">
                        <div class="social-share animated zoomIn" style="color: #fff;">
                            <div class="row c-center c-reset" style="justify-content: space-around;">
                                <a target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="//www.facebook.com/sharer/sharer.php?u={{  sharingImage }}&t={{ sharingText }}" title="Share PSR on Facebook" class="btn btn-xs c-btn-blue-3 c-btn-circle c-font-15" style="width: 40px;margin: 5px;border-radius: 2px;font-size: 15px;border: 0px; background-color: #3b5998;height: 40px;">
                <i class="fa fa-facebook" style="line-height: 1.5;margin: 0px;font-size: 20px;"></i></a>
                                <a target="_blank" href="https://twitter.com/home?status={{ sharingText }}%0A{{ sharingImage }}" title="Share PSR on Twitter" class="btn btn-xs c-btn-blue-3 c-btn-circle c-font-15" style="width: 40px;margin: 5px;border-radius: 2px;font-size: 15px;border: 0px; background-color: #2795e9;height: 40px;">
                                    <i class="fa fa-twitter" style="line-height: 1.5;margin: 0px;font-size: 20px;"></i>
                </a>
                                <a target="_blank" href="https://plus.google.com/share?url={{ sharingImage }}" title="Share PSR on Google Plus" class="btn btn-xs c-btn-blue-3 c-btn-circle c-font-15" style="width: 40px;margin: 5px;border-radius: 2px;font-size: 15px;border: 0px; background-color: #dd4b39;height: 40px;">
                                    <i class="fa fa-google-plus" style="line-height: 1.5;margin: 0px;font-size: 20px;"></i>
                </a>
                                <a target="_blank" href="whatsapp://send?text={{ sharingText }}%0A{{sharingImage}}" title="Share PSR on Whatsapp" class="btn btn-xs c-btn-circle c-font-15" style="width: 40px;margin: 5px;border-radius: 2px;font-size: 15px;border: 0px;background-color: #34af23;height: 40px;">
                                    <i class="fa fa-whatsapp c-font-white" style="line-height: 1.5;margin: 0px;font-size: 20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script>
// $('.carousel').carousel({
//     interval: false
// });
//    var swiper = new Swiper('.swiper-container', {
//     nextButton: '.swiper-button-next',
//     prevButton: '.swiper-button-prev',
//     slidesPerView: 2,
//     centeredSlides: true,
//     paginationClickable: true,
//     spaceBetween: 50,
//     initialSlide: 1,
//     loop: true
// });
</script>
<script>
function getRandomArbitrary(min, max) {
    return (Math.random() * (max - min) + min).toPrecision(2);
};

function mWordAnimation() { // splitWord selector
    var sw = $('.split-words')[0].innerText;
    var words = sw.split(' ');
    htmlx = '';
    for (var i = 0; i < words.length; i++) {
        delay = getRandomArbitrary(0.1, 2.4);
        htmlx = htmlx + "<div class='word'><div class='word-inner' style='transition-delay: " + delay + "s;'>" + words[i] + "</div></div>&nbsp;";
    }
    $('.split-words').html(htmlx);
    $('.split-words').find('.word').each(function(i, _word) {
        _word.style.width = _word.offsetWidth + 10 + 'px';
        $(_word).find('.word-inner').css('width', '0px');
    });
}

var startPsrAnimation = function() {
    $('.animation-block').each(function(index, value) {
        if ($(this).hasClass('active'))
            return;
        var top_of_element = jQuery(this).offset().top;
        var bottom_of_element = jQuery(this).offset().top + jQuery(this).outerHeight();
        var top_of_screen = jQuery(window).scrollTop();
        var bottom_of_screen = jQuery(window).scrollTop() + jQuery(window).height();

        if ((bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element) && (bottom_of_screen - top_of_element > 180)) {
            // The element is visible, do something
            //console.log('visibile'+index);
            $(this).addClass('active');
            $(this).find('.m-line-animation').addClass('m-animate');
            var t = this;
            setTimeout(function() {
                var that = t;
                $(that).find('.m-letter-animation').addClass('m-animate');
                setTimeout(function() {
                    // mWordAnimation($(that).find('.split-words'));
                    $(that).find('.m-word-animation').addClass('m-animate');
                }, 1000);
            }, 600);

        } else {
            //console.log('not');
            // The element is not visible, do something else
        }
    });
}

// $(window).on("scroll", function(e) {
//         calculateOpacity();
//     })
if (window.innerWidth < 992) {
    var swiperInit = function() {
        var swiper = new Swiper('.swiper-container', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            slidesPerView: 1,
            centeredSlides: true,
            paginationClickable: true,
            spaceBetween: 50,
            initialSlide: 1,
            loop: true
        });
    }
} else {
    var swiperInit = function() {
        var swiper = new Swiper('.swiper-container', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            slidesPerView: 2,
            centeredSlides: true,
            paginationClickable: true,
            spaceBetween: 50,
            initialSlide: 1,
            loop: true
        });
    }
}

$(document).ready(function() {
    //mWordAnimation();
    startPsrAnimation();
    // setTimeout(function () {
    swiperInit();
    // },1000);
    // setTimeout(function(){
    //     $('.animation-block').addClass('active');
    // },300);
    $('#videoCarousel2').carousel({
        interval: false
    });
    $('#videoCarousel2').on('slid.bs.carousel', function(e) {
        // do something…
        console.log('videoCarousel2', this, e);
        var c = e.currentTarget.querySelectorAll('video');
        c.forEach(function(eachVideo) {
            eachVideo.pause();
            eachVideo.currentTime = 0;
        })
        var v = e.relatedTarget.querySelector('video');
        if (v) {
            v.currentTime = 0;
            v.play();
        }
    });
});

$('.m-mousemove').mousemove(function(e) {
    var change;
    var xpos = e.clientX;
    var ypos = e.clientY;
    var left = change * 20;
    var xpos = xpos * 2;
    ypos = ypos * 2;
    $('.bg-dots').css('background-position', ((0 + (ypos / 50)) + "px ") + ((0 + (xpos / 80)) + "px"));

});
// #### visible element check
$(window).scroll(function(e) {
    e.preventDefault();
    startPsrAnimation();
});
</script>