<!-- <section class="bg-vision-test fixed-fullscreen" style="height: 100vh;">
    <div class="vision-eye bg-vision-dots" style="position: absolute;display: flex;margin-top: -4.5rem;width: 100%;align-items: center;justify-content: center;height: 100%;text-align: center;">
        <div style="display: inline-block; line-height: 0; border: solid 5px #fff; border-radius: 50%;box-shadow: rgba(33, 33, 33, 0.58) 1px 1px 20px 10px; ">
            <div style="display: inline-block;position: relative;line-height: 0;width: 200px;height: 200px;background-image: url('images/vision-test-center.png');background-position: center;background-size: contain;background-repeat: no-repeat;border: solid 5px #eb3c80;border-radius: 50%;"></div>
        </div>
    </div>
    <div class="">
        <div class="jumbotron " style="padding:148px 0 100px;background:initial;margin-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="transform: scale(1.25);">
                            <div class="col-md-3 hidden-xs">
                                <div class="vision-bubble"></div>
                            </div>
                            <div class="col-md-8" style="padding-bottom: 52px;">
                                <div class="m-content-block animation-block">
                                    <div class="m-top-block">
                                        <h1 class="m-heading p-b-25 m-line-animation" style="padding-bottom:0px;line-height: 2.3rem;">
                                                <span class="m-heading-block" style=" font-size: 1.5rem; font-weight: 100; ">TEST YOUR
                                                </span>
                                                <span class="m-heading-block">VISION</span>
                                                
                                        </h1>
                                        <div class="text-left" style="margin: 15px 5px;">
                                            <a href="javascript:void(0);" ng-click="openTnC();" class="btn btn-md" style="background-image: url('images/catract-banner-btn.svg');background-color: #356ded;background-position: center;background-size: cover;border-radius: 21px;color: #fff;font-family: 'Museosans2';background-repeat: no-repeat;box-shadow: rgba(45, 45, 45, 0.38) 1px 1px 16px 5px;">Let's Get Started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- First fold ending-->
<!-- Second fold starting-->
<section class="bg-vision-instruction">
    <div style="padding-bottom: 369px;background: url('images/visiontest/Vision-Test-min.jpg') center/cover no-repeat;padding-top: 4.5rem;">
        <div class="container" style="padding-top: 200px;">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10" style="padding-top: 50px;">
                    <div class="text-center" style="position: relative;">
                        <div class="m-content-block animation-block active vision-test-topheading-mob-position" style="position: absolute;bottom: 0px;left: 0px;right: 0px;">
                            <div class="m-top-block">
                                <h2 class="m-heading p-b-25 m-line-animation m-animate" style="padding-top: 30px;padding-bottom: 0px;letter-spacing: 3px;font-weight: 100;"> <span class="m-heading-block">
                                    <span style="border-bottom: solid 2px #fff; ">WELCOME TO THE</span>
                                </span> 
                            </h2>
                                <span class="m-heading-block sign-painter font-pink online-vision-test" style="font-size: 4rem; ">Online Vision Test</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-pinkline" style="padding-bottom: 161px;margin-top: -600px;position: relative; overflow: hidden;">
        <div class="container vision-test-mob-margin-fix" style="margin-top: -100px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="position: relative; z-index: 1;">
                        <div class="col-lg-12 text-left font-blue m-cataract-feature-box">
                            <div class="m-vision-heading">
                                <span class="m-title">Instructions:</span>
                            </div>
                            <div class="m-vision-para">
                                <p>
                                    With this online eye test you can do an eye test from the comfort of your couch or office chair. If you currently wear prescription glasses you'll need to perform the test with and without glasses to have an indication of whether your current prescription is accurate. Make sure you’re using a desktop computer (or if you're using a laptop or tablet, make sure you’ve got really long arms!)
                                </p>
                                <p>
                                    1. Position yourself approximately 1 metre from your computer screen, facing it directly and cover your left eye.
                                    <br> 2. When you click "LET'S PLAY", your online vLsion test will start.
                                    <br> 3. Folbw the instructions carefully
                                    <br> 4. Once you've answered, click "Next".
                                    <br> 5. If you feel your mistake was a result of your fingers rather than your eyes, select "Re-Do Test" to go back and try again.
                                    <br> 6. Once you've reached your result, repeat the process for your right eye.
                                    <br> 7. If you wear glasses or contact lenses, it's important to test both with and without your corrective lenses.
                                    <br> This will give you an idea as to whether your current script is the correct strength for you.
                                </p>
                                <p class="text-center" style="padding: 20px;">
                                    These test have no diagnostic value. In case of difficulties, only an eye care professional can carry out a complete eye examination to detect any eventual visual problems. No personal health information is collected or retained as the result of taking these tests.
                                </p>
                            </div>
                            <div>
                                <div>
                                    <div class="text-center">
                                        <div style="display: inline-block;">
                                            <label for="terms" class="font-pink vision-test-mob-checkbox-label" style="margin-bottom: 15px;">
                                                <input ng-model="tnc" type="checkbox" id="terms" name="terms" value="true" style="margin-right: 5px;">I have read and accept the disclaimer.</label>
                                            <div>
                                                <div class="c-init" style="width: 300px; display: inline-block; ">
                                                    <div class="btn-1-div">
                                                        <button ng-click="goToTest(tnc);" type="button" class="btn btn-md btn-1">LET'S PLAY</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>