<div class="row c-reset m-cataract-bottom-footer footer-bgcolor" style="padding-top: 20px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div style="padding: 80px 0 80px;">
            <div class="footer-menu">
                <a ng-click="navigateToPage('appointment')">Book Appointment</a> <span class="seperator">|</span>
                <a ng-click="navigateToPage('cataract.about')">Advanced Cataract Surgery</a> <span class="seperator">|</span>
                <a ng-click="navigateToPage('lasik.types')">Advanced Lasik Surgery</a> <span class="seperator">|</span>
                <a ng-click="navigateToPage('eyecareservices')">Eye Care Services</a>
            </div>
            <div class="footer-menu">
                <!-- <a ng-click="navigateToPage('milestones">Our Story</a><span class="seperator">|</span> -->
                <!-- <a ng-click="navigateToPage('milestones')">65 Years of Expertise</a><span class="seperator">|</span> -->
                <a ng-click="navigateToPage('refractive.prelex.procedure')">Refractive Surgeries</a><span class="seperator">|</span>
                <!-- <a>Lab Reports</a><span class="seperator">|</span> -->
                <!-- <a> Gallery and tour</a><span class="seperator">|</span> -->
                <a ng-click="navigateToPage('mediclaim')"> Mediclaim / Insurance</a>
            </div>
            <div class="footer-menu">
             <a ng-click="navigateToPage('testimonials')">Testimonials</a><span class="seperator">|</span>
             <a ng-click="navigateToPage('faq')">FAQs</a>
            </div>
        </div>
        <div class="footer-links" style="text-transform: initial;padding-bottom: 80px;">
            <p>
                <!-- <a>About</a><span class="seperator">|</span> -->
                <a ng-click="navigateToPage('contactus')">Contact Us</a><span class="seperator">|</span>
                <a ng-click="navigateToPage('privacypolicy')">Privacy policy</a>
            </p>
            <p class="copyright">@ 2017 Dr. P Siva Reddy Hospital. All rights reserved.</p>
        </div>
    </div>
</div>