<!-- Second fold starting -->
<section>
    <div class="container">
        <div>
            <div class="row" style="margin: 0px;">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="padding-bottom: 52px;">
                    <div class="m-content-block animation-block">
                        <div class="m-top-block">
                            <h1 class="m-heading p-b-25 m-b-10 m-line-animation" style="padding-top: 30px;padding-bottom: 0px;color: #2e0d72;">
                                        
                                        <span class="m-heading-block">PRELEX</span>
                                        <span class="m-heading-block" style="color: #eb3c80;font-size: 1.5rem;font-weight: 200;">(PRESBYOPIC LENS EXCHANGE)
                                        </span>
                                    </h1>
                            <p class="font-blue lasik-right-for-you-div">
                                The natural lenses of your eyes are curved flexible structures that change shape to accurately focus an image on the retina, a photosensitive layer in the back of the eye. Aging is usually associated by stiffness (presbyopia) or clouding (cataract) of the lens, which affects clarity of vision. Though presbyopia may be corrected by glasses or contact lenses, a more permanent and precise solution is offered through a procedure called PRELEX (presbyopic lens exchange), which involves the removal of the natural lens and replacement with an artificial one to correct presbyopia as well as cataract.
                            </p>
                        </div>
                    </div>
                    <div class="font-blue lasik-right-for-you-div">
                        <div class="font-pink lasik-right-for-you" style="font-size: 2rem;">PRELEX corrects vision by replacing the eye's natural lens with a multifocal intraocular lens of appropriate power. </div> 
                        <div>Is PRELEX (Presbyopic Lens Exchange) right for you? 
                            <ul>
                                <li>You do not wish to wear glasses or contact lens</li>
                                <li> You have severe farsightedness or near-sightedness</li>
                                <li> Your cornea (outer curved layer in front of the eye) is too thin for your surgeon to perform laser-assisted
   corrective surgery</li>
                                <li>You have co-existing or early signs of cataract (cloudiness of the lens)</li>
                                <li>Are over 40 and want to eliminate their dependence on bifocals or reading glasses</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>
<!-- second fold ending -->
<!-- Third fold starting-->
<section>
    <div class="text-center" style="position: relative;">
        <!-- <div style="position: absolute;transform: translate(-50%,-50%);color: black;left: 50%;top: 50%;text-transform: uppercase;text-align: left;line-height: 1.4;font-family: 'Suiss';">
            <div class="text-center text-uppercase"> 
                <div class="btn-1-div" style="display: inline-block; ">
                 <button type="button" ui-sref="appointment" class="btn btn-md btn-1">Book Appointment</button> 
                </div>
            </div>
        </div> -->
        <img src="images/refractive/presbyopia-ad2-min.jpg" alt="A beautiful world you must see" width="100%" class="img-responsive">
    </div>
</section>
<!-- Third fold ending -->
<!-- Forth fold starting-->
<section>
    <div class="row c-reset m-left-panel-row" style="position: relative; overflow: hidden;">
        <div style="position: absolute;top: calc(100% - 364px);right: -400px;">
            <img src="images/lasik/light_blue_super_large_final-min.png" width="100%">
        </div>
        <div class="col-md-4" style="padding: 0px;">
            <div class="m-left-panel" style="background: url('images/lasik/lasik-background-min.png') center/cover no-repeat;padding: 30px 0px 30px 30px;">
                <h1 class="m-heading p-b-25" style="padding-top: 10px;padding-bottom: 0px;color: #fff;line-height: 1;margin-bottom: 25px;">
                    <div class="m-block">PRELEX</div>
                    <span class="m-heading-block" style="font-size: 1.5rem;font-weight: 100;display: block;letter-spacing: 1px;">(PRESBYOPIC LENS EXCHANGE)
                    </span>
                </h1>
                <p style="font-weight: 200;">
                    Begin to enjoy life to the fullest by breaking free of your dependence on corrective lenses. By utilizing the latest PRELEX (Presbyopic Lens Exchange) technology and a unique approach, Dr. P Siva Reddy eye hospital helps you gain the freedom you’re seeking with clarity.
                </p>
                <div style="height: 100%;position: relative;padding-bottom: 80px;">
                    <ul class="m-lasik-content-headings">
                        <li ng-click="go('refractive.prelex.procedure','.m-left-panel-row .right-sec', $event)"  class="types active">
                            <div><span data-width="102">1. PROCEDURES</span>
                            </div>
                            <icon class="m-arrow-right pos"></icon>
                        </li>
                        <li ng-click="go('refractive.prelex.benefits','.m-left-panel-row .right-sec', $event)"  class="outcomes">
                            <div><span data-width="167">2. BENEFITS</span></div>
                            <icon class="m-arrow-right pos"></icon>
                        </li>
                        <li ng-click="go('refractive.prelex.recovery','.m-left-panel-row .right-sec', $event)"  class="stepbystep">
                            <div><span data-width="195">3. RECOVERY</span></div>
                            <icon class="m-arrow-right pos"></icon>
                        </li>
                        <li ng-click="go('refractive.prelex.consult','.m-left-panel-row .right-sec', $event)" class="postopcare">
                            <div><span data-width="361">4. CONSULT EYE SURGEON</span></div>
                            <icon class="m-arrow-right pos"></icon>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 right-sec">
            <div style="padding: 30px 20px;">
                <div ui-view="procedure"></div>
                <div ui-view="benefits"></div>
                <div ui-view="recovery"></div>
                <div ui-view="consult"></div>
            </div>
        </div>
    </div>
    <div class="stopscroll"></div>
</section>
