<!-- Second fold starting -->
<section>
    <div class="container">
        <div>
            <div class="row" style="margin: 0px;">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="padding-bottom: 52px;">
                    <div class="m-content-block animation-block">
                        <div class="m-top-block">
                            <h1 class="m-heading p-b-25 m-line-animation" style="padding-top: 30px;padding-bottom: 0px;color: #2e0d72;">
                                        <span class="m-heading-block" style="color: #eb3c80;font-size: 1.5rem; font-weight: 100; ">What's
                                        </span>
                                        <span class="m-heading-block">VISIAN</span>
                                        <span class="m-heading-block">ICL
                                        </span>
                                    </h1>
                            <p class="font-blue lasik-right-for-you-div">
                                Also known as the Implantable Collamer® Lens, Visian ICL is the FDA approved
                                new generation in vision correction. Think of it as an implantable lens that works
                                with your natural eye to correct your vision. Our procedure creates options for a
                                much wider range of prescriptions that can free you from glasses and contacts.
                                Visian ICL offers benefits which people suffering from nearsightedness
                                should consider.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="homepage-content-block">
                        <div class="content-block-heading font-blue m-font-m2" style="font-size: 1.5rem;">Visian ICL overview video</div>
                    </div>

                    <div class="homepage-content-videos">
                        <div id="videoCarousel2" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                            <span ng-class="{'icon-volume-off': !volume, 'icon-volume-2': volume}" class="icon-volume-off" ng-click="muteToggler();" style="position: absolute; right: 10px; top: 10px; font-size: 1.5rem;z-index: 13;"></span>
                              <video id="visianicl_video" loop="" muted="" poster="images/visianicl/what_is_visian_icl.png" autoplay="" class="fullscreen-bg__video" style="width: 100%">
                                 <source src="images/visianicl/what_is_visian_icl.webm" type="video/webm" width="100%">
                                 <source src="images/visianicl/what_is_visian_icl.mp4" type="video/mp4" width="100%">
                             </video>
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
                    <div class="font-blue lasik-right-for-you-div">
                        <div class="font-pink lasik-right-for-you" style="font-size: 2rem;">VISIAN ICL is right for you if you</div>
                        <div>
                            <ul>
                                <li>Are NOT eligible for LASIK or other laser corrective procedures.</li>
								<li>Are between 21 and 45 years old.</li>
                                <li> Are nearsighted with mild to severe myopia (-3D to -20D).</li>
                                <li> Have not had a change in prescription of more than .5D in a year.</li>
                                <li>Are looking for a procedure that doesn’t create dry eye syndrome.</li>
                                <li>Have minor or no astigmatism (2.5D or less).</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>
<!-- second fold ending -->
<!-- Third fold starting-->
<section>
    <div class="text-center" style="position: relative;">
        <img src="images/visianicl/visian_icl_poster.jpg" alt="Enjoy freedom from corrective glasses" width="100%" class="img-responsive">
    </div>
</section>
<!-- Third fold ending -->
<!-- Forth fold starting-->
<section>
    <div class="row c-reset m-left-panel-row" style="position: relative; overflow: hidden;">
        <div style="position: absolute;top: calc(100% - 364px);right: -400px;">
            <img src="images/lasik/light_blue_super_large_final-min.png" width="100%">
        </div>
        <div class="col-md-4" style="padding: 0px;">
            <div class="m-left-panel" style="background: url('images/lasik/lasik-background-min.png') center/cover no-repeat;padding: 30px 0px 30px 30px;">
                <h1 class="m-heading p-b-25" style="padding-top: 10px;padding-bottom: 0px;color: #fff;line-height: 1;">
                    <span class="m-heading-block" style="font-size: 2rem;font-weight: 100;">ADVANCED
                    </span>
                    <div class="m-block">VISIAN</div>
                    <span class="m-heading-block">ICL
                    </span>
                </h1>
                <p>
                    The lens material used at Dr.P Siva Reddy
                    Eye Hospital consists of collagen
                    which naturally occurs in your body.
                    Visian ICL Collamer technology has
                    some unique characteristics that make
                    it an ideal material for a vision
                    correction lens.
                </p>
                <div style="height: 100%;position: relative;padding-bottom: 80px;">
                    <ul class="m-lasik-content-headings">
                        <li ng-click="go('refractive.visianicl.procedure','.m-left-panel-row .right-sec', $event)"  class="types active">
                            <div><span data-width="102">1. PROCEDURE</span>
                            </div>
                            <icon class="m-arrow-right pos"></icon>
                        </li>
                        <li ng-click="go('refractive.visianicl.benefits','.m-left-panel-row .right-sec', $event)" class="outcomes">
                            <div><span data-width="167">2. BENEFITS</span></div>
                            <icon class="m-arrow-right pos"></icon>
                        </li>
                        <li ng-click="go('refractive.visianicl.recovery','.m-left-panel-row .right-sec', $event)" class="stepbystep">
                            <div><span data-width="195">3. RECOVERY</span></div>
                            <icon class="m-arrow-right pos"></icon>
                        </li>
                        <li ng-click="go('refractive.visianicl.consult','.m-left-panel-row .right-sec', $event)"  class="consult">
                            <div><span data-width="316">4. CONSULT EYE SURGEON</span></div>
                            <icon class="m-arrow-right pos"></icon>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 right-sec" style="padding: 0px;">
                <div ui-view="procedure"></div>
                <div ui-view="benefits"></div>
                <div ui-view="recovery"></div>
                <div ui-view="consult"></div>
        </div>
    </div>
    <div class="stopscroll"></div>
</section>
